@model IEnumerable<Services.ViewModel.ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Do Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdProduto }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdProduto }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdProduto })
            </td>
        </tr>
}
    </tbody>
</table>
